<h1>Most Recent Final Reports:</h1>
<%= render collection: @recent_final_reports, partial: "investigation" %>

<h1>Most Recent Preliminary Reports:</h1>
<%= render collection: @recent_prelim_reports, partial: "investigation" %>

<h1>Newest Investigations:</h1>
<%= render collection: @investigations, partial: "investigation" %>
