<% if @watched_differences.any? %>
  <h1>🚨 Watched Investigations</h1>
  <% @watched_differences.each do |difference| %>
    <% watch_condition = @watched_investigation_to_condition[difference.investigation] %>
    <%= render "home/investigation", investigation: difference.investigation, watch_condition: watch_condition %>
  <% end %>
<% end %>

<% finished, unfinished = @unwatched_differences.partition(&:change_completed?) %>

<h1>Final Reports:</h1>
<%= render collection: finished.map(&:investigation), partial: "home/investigation" %>

<h1>Other Report Changes:</h1>
<%= render collection: unfinished.map(&:investigation), partial: "home/investigation" %>
